
<RadzenCard>
    <ChildContent>
        <div class="row">
            <div class="col-md-6">
                <RadzenCard>
                    <ChildContent>
                        <h3>Pay Bills</h3>
                    </ChildContent>
                </RadzenCard>
            </div>
            <div class="col-md-6">
                <RadzenCard>
                    <ChildContent>
                        <h3>Manage Bills</h3>
                    </ChildContent>
                </RadzenCard>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <RadzenCard>
                    <ChildContent>
                        <h3>Bank Accounts</h3>
                    </ChildContent>
                </RadzenCard>
            </div>
            <div class="col-md-6">
                <RadzenCard>
                    <ChildContent>
                        <h3>Income Sources</h3>
                    </ChildContent>
                </RadzenCard>
            </div>
        </div>
    </ChildContent>
</RadzenCard>

@code {

}
 